body
{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(right, #25c481, #25b7c4);
     /* IE10+ */
    background: -ms-linear-gradient(left, #25c481, #25b7c4);
    background: -ms-linear-gradient(right, #25c481, #25b7c4);
    font-family: 'Comfortaa', sans-serif;
    color: white;
}

textarea
{
	resize: none;
	overflow: auto;
	width: 7in;
	height: 1.5in;
	color: black;
	padding: 12px;
	font-size: 18px;	
	outline: none !important;
	border-radius: 10px;
	border: 1px solid black;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

.brand
{
	font-family: 'Fredoka One', sans-serif;
}

.custom-btn {
  padding: 10px 25px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-inf 
{
  border: 3px solid white;
  color: #fff;
  font-size:16px;
  border-radius: 3px;
}

.btn-inf:hover
{
  background: #fff;
  color: #000;
}

.btn-inf-inverse
{
  border: 2px solid black;
  background: #000;
  color: #fff;
  border-radius: 50px;
  font-size: 23px;
}

.btn-inf-inverse:hover
{
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.spacing
{
	height: 20px;
}

.logo
{
	height: 90px;
	width: 90px;
}

.sub-line
{
	line-height: 25px;
}

.credits
{
	position: absolute;
	bottom: 5px;
	font-size: 12px;
	left: 0px;
}

@media only screen and (max-width: 600px) {
  .credits {
    display: none;
  }
}

#feedback-form-submit
{
  text-decoration: none !important;
}

a:visited
{
    color: #fff;
}

a:link
{
    color: #fff;
}

.thumbUp
{
  font-size:23px;
}
.frown
{
  font-size: 30px;
  /*color: tomato;*/
}